{
    "server_listener": "0.0.0.0",
    "port_listener": "8183",
    "group_system_name": "core",
    "role": "core",
    "role_service": "https://tasks.nginx:443/api",
    "folder_config": "/opt/apache-karaf-4.2.8/etc",
    "java_keystore_password": "WmzI9pwvMuYQlORnftiS",
    "folder_persistence": "/swarm/farbooking",
    "lockers_core_tokenId": "{{ lockers_core_tokenId }}",
	"persistence_tokenId": "{{ persistence_tokenId }}",
    "bootstrap_tokenId": "{{ bootstrap_tokenId }}",
    "core_tokenId": "{{ core_tokenId }}",
    "welcome_core_tokenId": "{{ welcome_core_tokenId }}",
	"jwt_tokenId": "LaraIoT06032020"
}