{
        "server_listener": "0.0.0.0",
        "port_listener": "8183",
        "group_system_name": "core",
        "role": "core",
        "role_service": "https://tasks.nginx:443/api",
        "folder_config": "/opt/apache-karaf-4.2.8/etc",
        "java_keystore_password": "WmzI9pwvMuYQlORnftiS",
        "folder_persistence": "/swarm/farbooking",
        "tClientId": "{{ bcrypt_persistence_tokenId }}",
        "tClientUrl": "http://tasks.token:8183/edge/token/ask",
        "tClientName": "persistence",
        "database_username": "root",
        "database_password": "CYXTSve2g9OdcSt9vbBR",
        "use_tls": "false",
        "replica_set_servers": "mongodb-primary:27017"
}