{
        "server_listener": "0.0.0.0",
        "port_listener": 8183,
        "group_system_name": "core",
        "role": "core",
        "role_service": "https://tasks.nginx:443/api",
        "persistence_service": "http://tasks.persistence:8183/persistence",
        "folder_config": "/opt/apache-karaf-4.2.8/etc",
        "java_keystore_password": "WmzI9pwvMuYQlORnftiS",
        "folder_persistence": "/swarm/farbooking",
        "tClientId": "{{ bcrypt_lockers_core_tokenId }}",
        "tClientUrl": "http://tasks.token:8183/edge/token/ask",
        "tClientName": "lockers_core",
        "mail_apiurl": "http://tasks.wk-mail",
        "mail_apiport": 8183,
        "mail_multi": false,
        "mail_multiT": "ef9e90d9-8b21-11eb-b7db-0242ac12000f"
}