{
    "server_listener": "0.0.0.0",
    "port_listener": 8183,
    "group_system_name": "fileuploader",
    "role": "worker",
    "role_service": "https://tasks.hub:443/forward",
    "folder_config": "/opt/fileuploader/data",
    "java_keystore_password": "WmzI9pwvMuYQlORnftiS",
    "folder_persistence": "/opt/lara-configuration"
}